.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 15rem;
}

/* fix the samokat */
.banner__bike {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  flex-shrink: 0;
}

.leftup__blur {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  flex-shrink: 0;
}

.banner__bike-image {
  width: 49vw;
}

.banner__content {
  grid-area: 1/1/2/3;
  display: flex;
  flex-direction: column;
}

.banner__content-text {
  display: flex;
  flex-direction: column;
}

.banner__content-text-header {
  white-space: pre-wrap;
  align-self: stretch;
  color: white;
  font-weight: 600;
  font-size: 110px;
}

.banner__content-text-info {
  color: #ff4c0d;
  margin-top: 1rem;
  font-weight: 500;
  white-space: pre-wrap;
  font-size: 40px;
}

.banner__content-button {
  display: grid;
  margin-top: 5rem;
  border: solid 5px white;
  border-radius: 50px;
  width: 20rem;
}

.slider {
  grid-area: 1 / 1;
  z-index: -1;
  border-radius: 49px;
  /* border: solid 1rem white; */
  background-color: white;
  height: 100%;
  width: 50%;
}

.button-text {
  grid-area: 1 / 1;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
  font-size: 18px;
  font-weight: 700;
}

.white-text {
  color: black;
}

.black-text {
  color: white;
}
