* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  background: var(--color-bg);
  /* margin: 3rem 9rem; */
}

a {
  color: unset;
  text-decoration: none;
}

div {
  white-space: pre-wrap;
}
